@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BalooDa2';
    src: url('../assets/Fonts/BalooDa2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    position: relative;
    background-color: #000;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../src/assets/Castle.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

@keyframes outline-animation {
    0% {
      outline: 2px solid transparent;
      outline-offset: 4px;
    }
    50% {
      outline: 2px solid #BF18C2;
      outline-offset: 6px;
    }
    100% {
      outline: 2px solid #1D0375;
      outline-offset: 4px;
    }
  }
  
  .animate-outline {
    animation: outline-animation 3s infinite alternate;
    background: linear-gradient(135deg, #BF18C2, #6B1C8F, #1D0375);
  }
  