.dropdown-container {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.btn.dropdown-toggle {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  height: 38px;
}

.tags-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.dropdown-menu {
  background-color: black;
  z-index: 999;
  pointer-events: auto;
  animation: fadeIn 0.5s;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  position: absolute;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
}

.dropdown-item:hover {
  background-color: #495057;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}